model_config_list {
  config {
    name: 'tomato_disease_detection_model'
	base_path: '/Tomato-disease-detection/models/'
	model_platform: 'tensorflow'
	model_version_policy {
	  specific {
	    versions: 1
	    versions: 2
	  }
	}
	version_labels {
	  key: 'development'
	  value: 1
	}
	version_labels {
	  key: 'production'
	  value: 2
	}
  }
}
